<div class="btnBack">
    <button mat-raised-button (click)="back()"> Volver </button>
</div>
    <div class="addVehiculo">
        <h6>Agregar un nuevo vehículo</h6>
        <mat-form-field>
        <mat-label>Modelo</mat-label>
            <input matInput [(ngModel)]="modelo" >
        </mat-form-field>
        <mat-form-field>
            <mat-label>Marca</mat-label>
            <input matInput [(ngModel)]="marca" >
        </mat-form-field>
        <mat-form-field>
            <mat-label>Año</mat-label>
            <input type="number" matInput [(ngModel)]="anno" >
        </mat-form-field>
        <mat-form-field>
            <mat-label>Color</mat-label>
            <input matInput [(ngModel)]="color">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Valor</mat-label>
            <input type="number" matInput [(ngModel)]="valor" >
        </mat-form-field>
        <section>
            <input type="checkbox" [(ngModel)]="centralizado">Cierre centralizado
            <input type="checkbox" [(ngModel)]="ac">Aire acondicionado
        </section>
        <div style="text-align: right;">
        @if(!isAdd){
            <button style="color: red; border: 2px solid red;" mat-button (click)="deleteAuto()"> Eliminar vehículo</button>
        }
        <button mat-button (click)="formAction()">
            @if(isAdd){
                Agregar vehículo
            }@else{
                Editar Vehículo
            }
        </button>
        </div>
    </div>

