.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
  }
  
.login-box {
    padding: 18px;
    border-radius: 8px;
    background-color: #f0f0f0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #EEF4FC;
    border: 1px solid #1B5299;
  }

.login-box mat-form-field {
    width: 100%;
    margin-bottom: 16px;
  }
  
.login-box button {
    background-color: #1B5299;
    color: white;
    width: 100%;
    margin-top: 16px;
  }