.btnBack button{
    border: 1px solid #1B5299;
    margin-bottom: 1rem;
}

.row{
    margin: 1rem;
}

#info {
    border: 1px solid #1B5299;
    border-radius: 15px;
    background-color: #DCE9F9;
}

a {
    color: inherit;
    text-decoration: none; 
    transition: color 0.3s; 
  }

a:hover {
    color: #FFFFFF; 
  }

#infoimg {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #1B5299;
    border-radius: 15px;
    background-color: #FFFFFF;
}

.imagen-container {
    width: 100%;
    height: auto;
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .imagen {
    width: 100%;
    height: auto;
    object-fit: cover; 
    max-width: 100%;
    max-height: 100%;
  }

 #infodato{
    border-radius: 15px;
 }

.row div {
    font-size: medium;
    color: #000000;
  }

#infodueno {
    display: flex;
    align-items: center;
  }

#infodueno a {
    display: flex;
    align-items: center;
    line-height: 1;
  }

#infophone {
    display: flex;
    align-items: center;
    line-height: 1;
  }
