mat-grid-tile {
    background: lightblue;
  }
.table-header{
  display: flex; 
  margin-top: 20px; 
  justify-content: space-between; 
  padding-right: 1rem; 
  padding-bottom: 1rem; 
  padding-left: 1rem; 
  align-items: baseline;
}

mat-card {
  margin: 10px;
  border: 1px solid #1B5299;
}

mat-card-header{
  padding: 0;
}
