
.table-header{
  display: flex; 
  justify-content: space-between; 
  padding-top: 1rem;
  padding-right: 1rem; 
  padding-bottom: 1rem; 
  padding-left: 1rem; 
  align-items: center;
  background-color: #1B5299;
}

mat-card {
  margin: 10px;
  border: 1px solid #1B5299;
}

mat-card-header {
  padding-top: 0;
  color: white;
  font-weight: bold;
}

