<div class="row">
    <div class="col-md-12 ">
        <mat-card style="background-color: #1B5299;">
            <div class="table-header">
                <mat-card-header style="color: white">Vehículos disponibles para vendiendo</mat-card-header>
                <button mat-raised-button
                [routerLink]="['/autos/create']">Agregar vehículo</button>
            </div>
            <app-table [dataSource]="auto"></app-table>
        </mat-card>
    </div>
    <div class="col-md-6">
        <div style="height: 100%; background-color: #1B5299;">

        </div>
    </div>
</div>

